@import "constant.less";

html {
  font-family: 'benderregular';
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: 'benderregular';
  background: #dee1e3;
}

.nopadding {
  padding: 0 !important;
}

.whitebg {
  background: @white-color;
}

.navbar-inverse .navbar-nav > li > a {
  color: @black-color;
  font-family: 'benderblack';
  font-size: 14px;
  text-transform: uppercase;
}

.logocontainer {
  width: @widthlogo;
}

.topmenuright {
  min-height: 100px;
  margin-top: 20px;
  width: 120px;
  float: right;
  select {
    border: none;
  }
  .toplangdev {
    min-height: 40px;
  }
  .paniertop {
    min-height: 60px;
    background: @black-color;
    color: @white-color;

  }
}

.paddingright10 {
  padding-right: 10px;
}

.margin11 {
  margin: 11px;
}

.topsearch {
  padding-top: 6px;
  padding-bottom: 6px;
  background: #dee1e3;

  select {
    border: none;
    background: transparent;

  }
  .btn {
    height: 24px;
    width: 25px;
  }
  input {
    background: none;
    border: none;

    font-family: 'benderitalic';
    font-size: 16px;
  }
}

.btn-inverse {
  background: @black-color;
  color: @white-color;
}

.toplinks {
  ul li {
    display: inline-block;
    padding: 0 5px;
  }
  ul li a {
    color: @greylink;
    cursor: pointer;
  }
  ul {
    padding: 0;
    list-style: none;
    padding-top: 17px;
    margin: 0;
    text-align: center;
  }
}

.padding10 {
  padding: 10px;
}

.left {
  float: left;
}

.paniertop .price {
  width: 60%;
  font-size: 18px;
  line-height: 1;
  font-family: 'benderblack_italic';
  margin-bottom: 5px;
}

.iconeshopping {
  text-align: center;
  color: @greylink;;
  font-size: 18px;
}

.carousel-caption h1 {
  margin-bottom: 40px;
}

.nopaddingleft {
  padding-left: 0;
}

.nopaddingright {
  padding-right: 0;
}

.padding30 {
  padding: 30px;
}

h3 {
  font-family: 'benderblack_italic';
  color: @black-color;
}

.sidebarright h3, .bottomrows h3 {
  margin-top: 0;
}

.tabsbloc {
  margin-bottom: 30px;
  color: #000000;

  cursor: pointer;
  font-family: 'benderblack';
}

.tagswidget {
  margin-bottom: 30px;

  .active {
    background: @link-color !important;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ul li {
    display: inline-block;
    background: #dee1e3;
    padding: 12px;
    margin: 5px;
  }
  ul li a {
    color: @black-color;
    text-transform: @capitalize;
    cursor: pointer;
  }

}

.articlesexpert {
  margin-bottom: 30px;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li a {
    color: @black-color;
    text-transform: @capitalize;
    cursor: pointer;
  }
  li {
    padding: 8px 0;
  }
}

.blackbg {
  background: @black-color;
}

.theelevator {
  margin-bottom: 30px;
  padding-top: 170px;
  color: @white-color;
  text-transform: uppercase;
  font-family: 'benderblack_italic';

  h1:first-of-type {
    font-family: 'benderitalic';
  }
}

.blocnewpd, .featureslider {
  margin-bottom: 30px;
}

.blocnewpd h3, .featureslider h3, .products h3 {
  padding-left: 20px;
}

.footerblock {

  footer {
    background: #000009;
    padding: 20px 30px;
    color: #999999;
    font-family: 'benderblack';
    display: table;
    width: 100%;
  }
}

.backtop {
  a {
    color: @white-color;
    font-family: 'benderblack_italic';
  }
  .backtop i {
    font-size: 16px;
  }
}

.tweeterbg {
  background: @tweeter-color;
  min-height: @fbc-height;
  h3 {
    color: @white-color;
  }
}

.fbcbg {
  background: @fbc-color;
  min-height: @fbc-height;
  h3 {
    color: @white-color;
  }
}

.new {
  background: url(../images/new.png);
  z-index: 99;
  position: absolute;
  top: 12px;
  height: 45px;
  width: 45px;
  left: 15px;

}

.products .new, .products .hot {
  top: 0;
}

.hot {
  background: url(../images/hot.png);
  z-index: 99;
  position: absolute;
  top: 12px;
  height: 45px;
  width: 45px;
  left: 15px;
}

.greybg {
  background: @greybg;
}

.footerblock {
  color: #999999;
  ul li a {
    text-transform: capitalize;
    cursor: pointer;
    color: #999999;
  }
  ul li {
    padding: 3px 0;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  h4 {
    font-family: 'benderblack_italic';
    color: @white-color;
  }
}

.sociaux li {
  display: inline;
}

.blocnewsletter {
  margin-bottom: 30px;
  input {
    background: #050506;
    border: none;
    padding: 7px 10px;
    width: 80%;
    float: left;
  }
  button {
    background: url(../images/arrow.png);
    height: 34px;
    width: 34px;
    border: none;
    padding: 0;
    margin: 0;
  }
}

.tab-content {
  background: @link-color;
  li.active {
    background: @black-color;
  }
  li.active a {
    color: @white-color;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    padding: 13px 30px;
  }
  a {
    color: @black-color;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'benderblack';
  }
}

.blocproduct {
  min-height: @minheightproduct;
  .price {
    color: @black-color;
    font-family: 'benderblack';
  }
}

@media screen and (max-width: 400px) {

  .bxslider img {
    width: 100%;

  }
}

@media screen and (max-width: 767px) {
  .sidebarright {
    margin-top: 15px;
  }

  .topmenuright {

    width: 100%;

    text-align: center;
    float: none;
  }

  .topsearch {
    text-align: center;
  }

  .nopaddingright, .nopaddingleft {
    padding-right: 0;
    padding-left: 0;
  }

  .logocontainer {
    width: 100%;
    text-align: center;
  }

  .topmenuright {
    width: 100%;
    text-align: center;
  }

  .paniertop .price {
    width: 100%;
  }

  .logo {
    background: #000;
  }

  .bxslider h5 {
    width: 100%;
    float: none;
  }
}
.nomargin {
  margin:0;
}
@media (max-width: 1199px) and (min-width: 768px) {
  .bxslider h5 {
    width: 100%;
    float: none;
  }

  .toplinks {
    width: 50%;
    float: left;
  }

  .topmenuright {
    width: 100%;
    float: none;
    .toplangdev {
      text-align: center;
      padding-top: 5px;
    }
  }

  .paniertop {
    text-align: center;
    .price {
      width: 100%;
    }

  }

}