@font-face {
  font-family: 'benderregular';
  src: url('fonts/jovanny_lemonad_-_bender-webfont.woff2') format('woff2'), url('fonts/jovanny_lemonad_-_bender-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'benderblack';
  src: url('fonts/jovanny_lemonad_-_bender-black-webfont.woff2') format('woff2'), url('fonts/jovanny_lemonad_-_bender-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'benderitalic';
  src: url('fonts/jovanny_lemonad_-_bender-italic-webfont.woff2') format('woff2'), url('fonts/jovanny_lemonad_-_bender-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'benderblack_italic';
  src: url('fonts/jovanny_lemonad_-_bender-blackitalic-webfont.woff2') format('woff2'), url('fonts/jovanny_lemonad_-_bender-blackitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html {
  font-family: 'benderregular';
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  font-family: 'benderregular';
  background: #dee1e3;
}
.nopadding {
  padding: 0 !important;
}
.whitebg {
  background: #ffffff;
}
.navbar-inverse .navbar-nav > li > a {
  color: #000000;
  font-family: 'benderblack';
  font-size: 14px;
  text-transform: uppercase;
}
.logocontainer {
  width: 170px;
}
.topmenuright {
  min-height: 100px;
  margin-top: 20px;
  width: 120px;
  float: right;
}
.topmenuright select {
  border: none;
}
.topmenuright .toplangdev {
  min-height: 40px;
}
.topmenuright .paniertop {
  min-height: 60px;
  background: #000000;
  color: #ffffff;
}
.paddingright10 {
  padding-right: 10px;
}
.margin11 {
  margin: 11px;
}
.topsearch {
  padding-top: 6px;
  padding-bottom: 6px;
  background: #dee1e3;
}
.topsearch select {
  border: none;
  background: transparent;
}
.topsearch .btn {
  height: 24px;
  width: 25px;
}
.topsearch input {
  background: none;
  border: none;
  font-family: 'benderitalic';
  font-size: 16px;
}
.btn-inverse {
  background: #000000;
  color: #ffffff;
}
.toplinks ul li {
  display: inline-block;
  padding: 0 5px;
}
.toplinks ul li a {
  color: #5a5a5a;
  cursor: pointer;
}
.toplinks ul {
  padding: 0;
  list-style: none;
  padding-top: 17px;
  margin: 0;
  text-align: center;
}
.padding10 {
  padding: 10px;
}
.left {
  float: left;
}
.paniertop .price {
  width: 60%;
  font-size: 18px;
  line-height: 1;
  font-family: 'benderblack_italic';
  margin-bottom: 5px;
}
.iconeshopping {
  text-align: center;
  color: #5a5a5a;
  font-size: 18px;
}
.carousel-caption h1 {
  margin-bottom: 40px;
}
.nopaddingleft {
  padding-left: 0;
}
.nopaddingright {
  padding-right: 0;
}
.padding30 {
  padding: 30px;
}
h3 {
  font-family: 'benderblack_italic';
  color: #000000;
}
.sidebarright h3,
.bottomrows h3 {
  margin-top: 0;
}
.tabsbloc {
  margin-bottom: 30px;
  color: #000000;
  cursor: pointer;
  font-family: 'benderblack';
}
.tagswidget {
  margin-bottom: 30px;
}
.tagswidget .active {
  background: #faef03 !important;
}
.tagswidget ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.tagswidget ul li {
  display: inline-block;
  background: #dee1e3;
  padding: 12px;
  margin: 5px;
}
.tagswidget ul li a {
  color: #000000;
  text-transform: capitalize;
  cursor: pointer;
}
.articlesexpert {
  margin-bottom: 30px;
}
.articlesexpert ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.articlesexpert li a {
  color: #000000;
  text-transform: capitalize;
  cursor: pointer;
}
.articlesexpert li {
  padding: 8px 0;
}
.blackbg {
  background: #000000;
}
.theelevator {
  margin-bottom: 30px;
  padding-top: 170px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'benderblack_italic';
}
.theelevator h1:first-of-type {
  font-family: 'benderitalic';
}
.blocnewpd,
.featureslider {
  margin-bottom: 30px;
}
.blocnewpd h3,
.featureslider h3,
.products h3 {
  padding-left: 20px;
}
.footerblock footer {
  background: #000009;
  padding: 20px 30px;
  color: #999999;
  font-family: 'benderblack';
  display: table;
  width: 100%;
}
.backtop a {
  color: #ffffff;
  font-family: 'benderblack_italic';
}
.backtop .backtop i {
  font-size: 16px;
}
.tweeterbg {
  background: #3fccfd;
  min-height: 276px;
}
.tweeterbg h3 {
  color: #ffffff;
}
.fbcbg {
  background: #4966b6;
  min-height: 276px;
}
.fbcbg h3 {
  color: #ffffff;
}
.new {
  background: url(../images/new.png);
  z-index: 99;
  position: absolute;
  top: 12px;
  height: 45px;
  width: 45px;
  left: 15px;
}
.products .new,
.products .hot {
  top: 0;
}
.hot {
  background: url(../images/hot.png);
  z-index: 99;
  position: absolute;
  top: 12px;
  height: 45px;
  width: 45px;
  left: 15px;
}
.greybg {
  background: #222429;
}
.footerblock {
  color: #999999;
}
.footerblock ul li a {
  text-transform: capitalize;
  cursor: pointer;
  color: #999999;
}
.footerblock ul li {
  padding: 3px 0;
}
.footerblock ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footerblock h4 {
  font-family: 'benderblack_italic';
  color: #ffffff;
}
.sociaux li {
  display: inline;
}
.blocnewsletter {
  margin-bottom: 30px;
}
.blocnewsletter input {
  background: #050506;
  border: none;
  padding: 7px 10px;
  width: 80%;
  float: left;
}
.blocnewsletter button {
  background: url(../images/arrow.png);
  height: 34px;
  width: 34px;
  border: none;
  padding: 0;
  margin: 0;
}
.tab-content {
  background: #faef03;
}
.tab-content li.active {
  background: #000000;
}
.tab-content li.active a {
  color: #ffffff;
}
.tab-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.tab-content li {
  padding: 13px 30px;
}
.tab-content a {
  color: #000000;
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'benderblack';
}
.blocproduct {
  min-height: 600px;
}
.blocproduct .price {
  color: #000000;
  font-family: 'benderblack';
}
@media screen and (max-width: 400px) {
  .bxslider img {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .sidebarright {
    margin-top: 15px;
  }
  .topmenuright {
    width: 100%;
    text-align: center;
    float: none;
  }
  .topsearch {
    text-align: center;
  }
  .nopaddingright,
  .nopaddingleft {
    padding-right: 0;
    padding-left: 0;
  }
  .logocontainer {
    width: 100%;
    text-align: center;
  }
  .topmenuright {
    width: 100%;
    text-align: center;
  }
  .paniertop .price {
    width: 100%;
  }
  .logo {
    background: #000;
  }
  .bxslider h5 {
    width: 100%;
    float: none;
  }
}
.nomargin {
  margin: 0;
}
@media (max-width: 1199px) and (min-width: 768px) {
  .bxslider h5 {
    width: 100%;
    float: none;
  }
  .toplinks {
    width: 50%;
    float: left;
  }
  .topmenuright {
    width: 100%;
    float: none;
  }
  .topmenuright .toplangdev {
    text-align: center;
    padding-top: 5px;
  }
  .paniertop {
    text-align: center;
  }
  .paniertop .price {
    width: 100%;
  }
}
